@model SSDC_WebSite.Models.user
@using ClassLibrary.Concrate
@using SSDC_WebSite.Models
@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@


        user p = new user();
        if (Session != null)
        {
            string temps = Session["user"].ToString();
            EF_DBContext repo = new EF_DBContext();
            p = repo.users.FirstOrDefault(i => i.email == temps);


        }
    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => p.user_id)

        <div class="form-group">
            @Html.LabelFor(model => p.first_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => p.first_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => p.first_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => p.last_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => p.last_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => p.last_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => p.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => p.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => p.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => p.work_number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => p.work_number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => p.work_number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => p.mobile_number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => p.mobile_number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => p.mobile_number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => p.gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => p.gender, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => p.gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => p.id_number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => p.id_number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => p.id_number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => p.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => p.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => p.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
        
