@model WebSiteUI.Models.UserProfileModel

@using ClassLibrary.Concrate
@using SSDC_WebSite.Models
@{  
    user p = new user();
    if (Session != null)
    {
        EF_DBContext repo = new EF_DBContext();

        string temps = Session["user"].ToString();


        p = repo.users.FirstOrDefault(u => u.email == temps);
    }
}
<div class="panel panel-default">
    @using (@Html.BeginForm())
    {
        <div class="form-group">
            <label>email:</label>
            <label class="label label-info">@p.email</label>        
        </div>

        <div class="form-group ">
            <label>User password:</label>
            <label class="label label-info">@p.password</label>        
        </div>
        <div class="form-group ">
            <label>User first Name:</label>
            <label class="label label-info">@p.first_name</label>        
        </div>
        <div class="form-group ">
            <label>work number:</label>
            <label class="label label-info">@p.work_number</label>       
        </div>
        <div class="form-group ">
            <label>User Last Name:</label>
             <label class="label label-info">@p.last_name</label>     
            
        </div>
        <div class="form-group ">
            <label>id_number:</label>
            <label class="label label-info">@p.id_number</label>

        </div>
        <div class="form-group ">
            <label>User gender:</label>
            <label class="label label-info">@p.gender</label>

        </div>
    }
</div>
