




@using ClassLibrary.Concrate
@using SSDC_WebSite.Models
@{
    user p = new user();
    if (Session != null)
    {
        EF_DBContext repo = new EF_DBContext();

        string temps = Session["user"].ToString();


        p = repo.users.FirstOrDefault(u => u.email == temps);
    }
}


<div class="dl-horizontal well">
    <label>Current Bookings</label>
    <table class="table table-striped">
        <caption>current Bookings</caption>
        <thead>
            <tr>
                <th>RoomName</th>
                <th>TypeOfBooking</th>
                <th>BookingDate</th>
                <th>Confirmed</th>
                <th>MeetingDate</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
           
            @foreach (var item in p.bookings)
            {
                <tr>
                    <td>@item.topic</td>
                    <td>@item.code_no</td>
                    <td>@item.booking_date</td>
                    <td>@item.booking_status</td>
                    <td>@item.dryrun_date/2/2016</td>
                    <td>@item.event_type</td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div class="dl-horizontal well">
    <label>Booking History</label>
    <table class="table table-striped">
        <caption> Bookings history</caption>
        <thead>
            <tr>
                <th>RoomName</th>
                <th>TypeOfBooking</th>
                <th>BookingDate</th>
                <th>Confirmed</th>
                <th>MeetingDate</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>102</td>
                <td>mla</td>
                <td>1/1/2016</td>
                <td>yeah</td>
                <td>1/2/2016</td>
                <td>fulloption</td>
            </tr>


        </tbody>
    </table>
</div>