@model IEnumerable<SSDC_WebSite.Models.position>

@{
    ViewBag.Title = "AdminPositionIndex";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="panel panel-default" >
    <div class="panel-heading">AdminPositionIndex</div>

    
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th>
                   <lable>Position Name </lable>
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.position_name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditPosition", new { id = item.position_id }) |
                        @Html.ActionLink("Details", "DetailsPosition", new { id = item.position_id }) |
                        @Html.ActionLink("Delete", "DeletePosition", new { id = item.position_id })
                    </td>
                </tr>
            }

        </table>
        <div class="panel-footer">
            @Html.ActionLink("Create New", "CreatePosition")
        </div>
    </div>
</div>